[submodule "assignment-autotest"]
	path = assignment-autotest
	url = git@github.com:cu-ecen/assignment-autotest.git

[submodule "buildroot"]
	path = buildroot
	url = git@gitlab.com:buildroot.org/buildroot.git
	branch = 2024.02.x

